<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>User Management App</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>
	<!-- header -->
	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<h3>User Management Application</h3>
		<h4>1. View all users</h4>
		<h4>2. Add a new user</h4>
		<h4>3. Update any existing user</h4>
		<h4>4. Delete any existing user</h4>

	</div>

	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
