<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>User Management App</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class ="container-fluid">
		<th:form action="#" th:action="@{/users}" th:object="${user}" method="put">
			<h2>Add New User</h2>
			<th:input type="submit" value="Update" />
			<th:table>
				<th:thead>
					<th:tr>
						<th>User Name</th>
						<th>First Name</th>
						<th>Middle Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</th:tr>
				<th:thead>
				<tbody>
					<tr>
						<td><input id="username" name="userName" type="text"
							th:field="*{userName}" /></td>
						<td><input id="firstname" name="firstName" type="text"
							th:field="*{firstName}" /></td>
						<td><input id="middlename" name="middleName" type="text"
							th:field="*{middleName}" /></td>
						<td><input id="lastname" name="lastName" type="text"
							th:field="*{lastName}" /></td>
						<td><input id="email" name="email" type="text"
							th:field="*{email}" /></td>
					</tr>
				</tbody>
			</th:table>
		</th:form>
	</div>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>


