<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>User Management App</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h4>Users</h4>
			</div>
			<div class="col">
				<a href="/add-user-view" class="btn btn-success float-right">
					Add User </a>
			</div>
		</div>

		<div class="row table-responsive-sm"
			th:unless="${#lists.isEmpty(users)}">
			<div class="col table-responsive-sm top-buffer">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>User Name</th>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}" th:id="${user.userId}">
							<td th:text="${user.userName}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.middleName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.email}"></td>

							<td>
								<button type="submit" class="btn btn-primary">Edit</button>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>


